@media screen and (max-width: 750px) {

    .horizontal{
        flex-direction: column;
    }

    .box-icone-single{
        display: block;
        float: none;
        margin: auto;
        width: 80%;
        margin-top: 20px;
    }

    .equipe-circle{
        margin-top: 0;
    }
    .equipe-circle-single{
        width: 80%;
        margin: auto;
        margin-top: 2%px;
    }
    .avatar img{
        box-shadow: 0 0 30px var(--amarelo);
    }

    .conteudo-local{
        margin-top: 15px;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .mapa, .endereco{
        width: 80%;
        margin: auto;
        padding: 0;
    }
}