/* --- INÍCIO BANNER --- */
section.banner{
    -webkit-animation: fundo 10s infinite alternate ease-in;
    animation: fundo 10s infinite alternate ease-in;
}
@keyframes fundo{
    0%{
        background-size: auto 125vh;
    }
    100%{
        background-size: auto 150vh;
    }
}
.banner{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url(../img/Banner/banner-escuro.webp) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.conteudo-banner{
    height: 100%;
    max-width: 90%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seta{
    scale: 2.5;
    text-shadow: 0px 0px 10px var(--amarelo);
    animation: downarrow 1.5s infinite alternate ease-in-out;
}

@keyframes downarrow {
    0% { -webkit-transform: translateY(0)}
    100% { -webkit-transform: translateY(0.6em)}
}

.banner p{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 500;
    text-shadow: 0 0 15px #000000;
}

.botao{
    border: solid 1px var(--botao-hover);
    border-radius: 20px;
    margin: 30px 0;
    width: 200px;
    font: 500 20px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    box-shadow: 0 0 20px var(--botao-hover);
}

.btn{
    transition-duration: 0.5s;
}
.btn:hover{
    color: var(--amarelo);
    background-color: var(--botao-hover);
}

/* INÍCIO DESTAQUES*/
.destaques{
    padding: 2% 0;
    text-align: center;
}

.destaques .container{
    overflow: hidden;
}

.fotos img{
    width: 22%;
    padding: 15px;
    filter: drop-shadow(0 0 5px var(--botao-hover));
}

.fotos {
    width: 450%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacao {
    0% {
      margin-left: -75.5%;
    }
    28% {
      margin-left: -75.5%;
    }

    33% {
      margin-left: -175%;
    }
    61% {
      margin-left: -175%;
    }

    66% {
      margin-left: -274.5%;
    }
    94% {
      margin-left: -274.5%;
    }

    100% {
        margin-left: -76%;
    }
}
  

/* FIM DESTAQUES */

/* INÍCIO DIFERENCIAIS*/

.diferenciais{
    text-align: center;
    text-shadow: 0 0 15px #000000;
}

.icones-diferenciais{
    margin-top: 30px;
}

.box-icone-single{
    padding: 0 2%;
    width: 33.3%;
    margin-bottom: 50px;
}

.box-icone-single h2 span{
    color: var(--amarelo);
    font-size: 40px;
}
/* FIM DIFERENCIAIS */

/* INÍCIO EQUIPE */

.equipe{
    padding-top: 60px;
}

.equipe-circle{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.equipe-circle-single{
    width: 33.3%;
    text-align: center;
    padding: 0 30px;
}

.equipe-circle-single p{
    text-align: justify;
    text-align-last: center;
}

.avatar{
    position: relative;
    width: 40%;
    padding-top: 40%;
    margin: 30px auto;
}

.avatar img{
    width: 100%; height: 100%;
    position: absolute;
    left: 0; top: 0;
    border-radius: 50%;
    box-shadow: 0 0 70px var(--amarelo);
}

.equipe-circle-single h3{
    color: var(--amarelo);
    font-size: 26px;
    margin: 15px 0;
}
/*  -- FIM EQUIPE -- */

/* -- INÍCIO LOCAL -- */
.local{
    margin-top: 60px;
}
.conteudo-local{
    display: flex;
}
.mapa{
    width: 50%;
    margin: 30px;
}
.mapa iframe{
    border-radius: 10px;
}
.endereco{
    width: 50%;
    padding: 30px
}
/* -- FIM LOCAL -- */

/* -- INÍCIO CONTATO -- */
.contato{
    margin-top: 60px;
}
.form-container{
    padding: 30px;
    border-radius: 20px;
    display: flex;
}
.w60{
    width: 60%;
    padding: 30px;
}
.w40{
    width: 40%;
    padding: 30px;
}
.formulario form{
    margin-top: 30px;
}

.formulario input[type=text],[type=email],
.formulario textarea{
    border: 0;
    border-bottom: 2px solid var(--amarelo);
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--preto-transparente);
    color: #FFF;
    padding: 5px;
}

.formulario input[type=text],[type=email]{
    width: 100%;
    height: 40px;
}
.formulario textarea{
    min-width: 100%; width: 100%;
    min-height: 65px; height: 150px;
}
.tags-contato{
    background-color: var(--preto-transparente);
    padding: 8px 4px;
    text-align: center;
    margin: 10px 0;
    border-radius: 10px;
}
.tags-form p{
    text-align: center;
}
::-webkit-input-placeholder{
    color: #d3d3d3;
}
.button_form{
    padding: 10px;
    font: 500 20px;
    margin: 0;
    cursor: pointer;
    border-radius: 10px;
}
/* -- FIM CONTATO -- */

.produtos .container p{
    text-align: center;
}
.produtos .container{
    padding-bottom: 30px;
    justify-content: space-between;
}
.produto{
    box-shadow: 0 0 10px var(--botao-hover);
    padding: 15px;
    width: 30%;
    text-align: center;
}
.produto-img{
    aspect-ratio: 4/3;
    width: 100%;
    margin: 0;
    background-size: 100%;
    background-position: center;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#caneca-colorida{
    background-image: url(../img/Produtos/Canecas/Canecas-coloridas.png);
}
#em-breve{
    background-image: url(../img/Produtos/em-breve.jpg);
}
.produto-img:hover{
    background-size: 125%;
}

.pagina-produto .vidro{
    height: 100%;
    gap: 20px;
}

.cor{
    width: 100%;
    height: 100vh;
    margin:0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-shadow: 0 0 10px var(--preto-transparente);
}
#amarelo{background-image: url(../img/Produtos/Canecas/caneca-amarela.webp);}
#verde{background-image: url(../img/Produtos/Canecas/caneca-verde.webp);}
#azul{background-image: url(../img/Produtos/Canecas/caneca-azul.webp);}
#roxo{background-image: url(../img/Produtos/Canecas/caneca-roxa.webp);}
#rosa{background-image: url(../img/Produtos/Canecas/caneca-rosa.webp);}

.descricao .horizontal{
    justify-content: center;
    gap: 50px;
}

.preco{
    width: 30%;
    margin: 30px 0;
}
.comprar{
    gap: 5px;
    margin: auto;
}
.comprar span{
    color: var(--amarelo);
    scale: 1.2;
}